<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/ube"
            class="com.gh.funthomas424242.dsl.ube.ube.UbePackage"
            genModel="metamodel/ube.genmodel"/>
   </extension>

</plugin>
